@import './normalize.css'
@import './reset'
$black = #212121
$white = #FAFAFA
*
	outline none
body
	font-style 16px
	font-family 'Montserrat'
@import './header'
@import './content'
@import './video'


